<div class="footer d-flex justify-content-between">
  <div>
    © 2014. Georg Opinc Industrievertretung
  </div>
  <div>
    Max-Plank-Straße 34, 78549 Spaichingen
  </div>
  <div>
    Tel: +49 (0) 7424 - 93 15 0
  </div>
   <div>
    Fax: +49 (0) 7424 - 93 15 20
  </div>
  <div>
    <%= mail_to 'info@opinc.de', 'info@opinc.de', style:"color: white;" %>
  </div>
</div>
