<div class="footer d-flex justify-content-between">
  <div>
    © 2014. Georg Opinc Industrievertretung
  </div>
  <div>
    Max-Plank-Straße 34, 78549 Spaichingen
  </div>
  <div>
    Tel: +49 (0) 7424 - 93 15 0, Fax: +49 (0) 7424 - 93 15 20
  </div>
  <div>
    info@opinc.de
  </div>
</div>
