<div style="color: #4B4E57;">
  <%= image_tag(asset_path('home_opinc.jpeg'), style:"width: 100%;") %>
  <br><br><br>
  <div class="d-flex justify-content-between">
    <div class="home-divs">
      <h2 class="mb-3">Opinc Industrievertretung</h2>
      <p>Lang - u. Kurzdrehteile, Frästeile aus allen zerspanbaren Werkstoffen. Vom einfachen bis hochpräzisen Zeichnungsteil. Wir fertigen für Sie von der Nullserie bis hin zur Großserie.</p>
      <p>Wir sind spezialisiert auf die Vermittlung von Kundenspezifischen Zeichnungsteilen. </p>
      <p>Wir vertreten leistungsfähige Herstellter von: <br>Drehteilen, Frästeilen, Stanz- und Biegeteilen, Musterbau, Klein- und Großserien</p>
    </div>
    <div class="home-divs">
      <h2 class="mb-3">Wer sind wir?</h2>
      <p>Unser Kundenstamm setzt sich von Elektro-, Sanitär-, Automotiv, Möbel-, Medizintechnik, Beschläge, Maschinenbau und Fachkunden zusammen.</p>
      <p>Unsere Industrievertretung steht für, eine schnelle Verfügbarkeit, kompetente Beratung, fundiertes Fachwissen, motivierte und langjährige Mitarbeiter und jahrelange Erfahrung. </p>
      <p>Unser Ziel ist es eine gute und lange Partnerschaft  zwiwschen Hersteller und Kunden aufzubauen. <br>
        Lassen Sie uns und unsere Lieferwerke Kompetenz, Fachwissen und Leistungsfähigkeit unter Beweis stellen.</p>
    </div>
  </div>
</div>
