<div>
  <form action="pages/create" method="post">
    <input type="text" id="firma" name="firma" placeholder="Firma"><br><br>
    <input type="text" id="name" name="name" placeholder="Name, Vorname*"><br><br>
    <input type="text" id="number" name="number" placeholder="Telefonnummer*"><br><br>
    <input type="text" id="mail" name="mail" placeholder="E-Mail*"><br><br>
    <input type="text" id="message" name="message" placeholder="Ihre Nachricht an uns*"><br><br>
    <input type="submit" value="Nachricht senden">
  </form>
</div>
