.form-styling {
  border: none;
  background-color: #E9E9ED;
  padding: 7px;
  width: 16vw;
  margin-bottom: 10px;
}

.form-styling-message {
  border: none;
  background-color: #E9E9ED;
  padding: 7px;
  width: 35vw;
  height: 26vh;
  margin-left: 15px;
}

.btn-form {
  background-color: #990B2E;
  border: 1px solid #930b2d;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  font-weight: 600;
}
